<h1 style="text-align:center; color:blue">Angular woth json</h1>

<div class="container-fluid">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">userId</th>
        <th scope="col">name</th>
        <th scope="col">title</th>
        <th scope="col">email</th>
        
    </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto is man</td>
        <td>ds@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fhds@fat</td>
      </tr>
      
    </tbody>
  </table>
  
  
</div>
<p>homepage works!</p>
